#carousel {
    position: absolute; 
      z-index: -5; 
      margin: auto; 
      left: 0; 
      right: 0;
      height: 100%;
      width: 100%;
}

.left {
  float: left;
  cursor: pointer;
  margin-top: 25px;
}

.right {
  float: right;
  cursor: pointer;
  margin-top: 25px;
}

.frame {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#slider {
    left: 0px;
    position: relative;
    transition: 1s;
    height: 110%;
    margin-top: -2%;
}

.slide {
    width: 100%;
    height: 100%;
    margin: 0 -5px 0 0;
    padding: 0;
    display: inline-block;
    transition: 1s;
}

.slide img {

    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.slide p {
    position: absolute;
    white-space: normal;
    max-width: 55%;
    min-width: 350px;
    text-align: center;
    margin: 21% auto 0 auto;
    padding: 0 0 20px 0;
    font-size: 1em;
      line-height: 1.5em;
      color: white;
      left: 0;
      right: 0;

    @media only screen and (max-device-width: 788px) and (orientation: portrait) {
      max-width: 75%; 
      margin: 40% auto 0 auto;
      font-size: 1.8em;

    }

}

#bonnText {
  left: 222.5%;
  width: 55%;
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    left: 213.5%;
    width: 75%;
    }
}

#denhaagText {
 left: 122.5%;
  width: 55%;
  @media only screen and (max-device-width: 788px) and (orientation: portrait) {
    left: 112.5%;
    width: 75%;
    }
}

#euroflagImg {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/euroflag2.jpg");
}

#bonnImg {
min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/bonn.jpg");
}

#denhaagImg {
min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-image: url("../img/denhaag.jpg");
}